<main class="container mx-auto my-4">
  <section class="bg-white shadow-md rounded p-4">

    <div class="flex w-full items-center justify-center">
      <div class="flex w-9/12 items-center justify-between pb-3">
        <h2 class="text-xl font-semibold mb-4">게시글 상세</h2>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          onclick="location.href='/post/'"
        >목록
        </button>
      </div>
    </div>

    <div class="flex items-center justify-center mb-6">

      {{#with postDesc}}
        <div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
          <h1 class="text-2xl font-bold mb-4">{{title}}</h1>
          <p class="text-gray-600 mb-4">Posted on
            {{createdDt}}
            by
            {{writer}}</p>
          {{! <img src="post-image.jpg" alt="Post Image" class="w-full rounded-lg mb-4" /> }}
          <div class="prose">
            <p>{{content}}</p>
            <!-- Add more content here -->
          </div>

          <div class="flex items-center justify-between text-slate-500 mt-4">
            <div class="flex space-x-4 md:space-x-4">
              <div
                class="flex items-center transition hover:text-slate-600"
                onclick="updateHearts({{id}});"
              >
                <i class="fas fa-heart text-red-500 mr-2 cursor-pointer"></i>
                <span>{{hearts}}</span>
              </div>
              <div class="flex items-center transition hover:text-slate-600">
                <i
                  class="fas fa-comments text-blue-500 mr-2 cursor-pointer"
                ></i>
                <span>{{reflyCount}}</span>
              </div>
              <div class="flexitems-center transition hover:text-slate-600">
                <i class="fas fa-eye mr-1 cursor-pointer"></i>
                <span>{{hits}}</span>
              </div>
            </div>
          </div>

        </div>
      {{/with}}
    </div>

    <div class="flex items-center justify-center mb-6">
      <!-- Add a Comment Form -->
      <div class="rounded-xl border p-5 shadow-md w-9/12 bg-gray-100">

        <form method="post" action="/refly/write">
          <div class="flex flex-wrap -mx-3">
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
              <input type="hidden" name="postId" value={{postDesc.id}} />
              <input
                class="appearance-none block w-full border rounded-xl py-3 px-4 mb-3 leading-tight focus:outline-none"
                id="grid-name"
                type="text"
                name="writer"
                placeholder="작성자"
              />
            </div>
            <div class="w-full md:w-1/3 px-3">
              <input
                class="appearance-none block w-full border rounded-xl py-3 px-4 leading-tight focus:outline-none"
                id="grid-password"
                type="password"
                name="password"
                placeholder="비밀번호"
              />
            </div>
            <div class="w-full md:w-1/3 px-3">
              <button
                type="submit"
                class="float-right bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                작성
              </button>
            </div>
          </div>
          <div class="mb-4">
            <textarea
              id="comment"
              name="comment"
              rows="4"
              class="form-input resize-none w-full border rounded-xl py-3 px-4 leading-tight focus:outline-none"
              placeholder="댓글을 입력해주세요"
            ></textarea>
          </div>
        </form>
      </div>
    </div>

    <div class="flex items-center justify-center mb-6">
      <!-- Comment Section -->
      <div class="mt-2 w-9/12">

        {{#if allRefly}}
          <h2 class="text-xl font-bold mb-4">Comments</h2>
        {{/if}}

        <!-- Individual Comments -->
        {{#each allRefly}}
          <div class="rounded-xl border p-5 mb-4 shadow-md w-full bg-gray-100">
            <p class="text-gray-600 mb-4">Posted on
              {{createdDt}}
              by
              {{writer}}</p>
            <p>{{comment}}</p>
          </div>
        {{/each}}
      </div>
    </div>

  </section>
</main>