<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">작성자: {{post.writer}}</h5>
      <p class="card-text">조회수:
        {{post.hits}}
        | 작성일시:
        {{post.createdDt}}</p>
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>

  <div class="mt-4">

    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="col-md-6 mb-2">
              <label for="commentAuthor">댓글 작성자</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="commentAuthor"
                placeholder="댓글 작성자"
                required
              />
            </div>
            <div class="col-md-6 mb-2">
              <label for="commentPassword">비밀번호</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="commentPassword"
                placeholder="비밀번호"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-10 mb-2">
              <label for="commentContent">댓글 내용</label>
              <textarea
                class="form-control"
                id="commentContent"
                name="comment"
                rows="2"
                placeholder="댓글 내용을 입력하세요"
                required
              ></textarea>
            </div>
            <div class="col-md-2 mt-5">
              <button type="submit" class="btn btn-primary btn-block">댓글 작성</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <h4>댓글</h4>
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-text">댓글 내용이 여기에 들어갑니다.</p>
        <p class="card-text"><small class="text-muted">작성자: 댓글작성자 |
            작성일시: 2023-08-30</small></p>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <p class="card-text">다른 댓글 내용이 여기에 들어갑니다.</p>
        <p class="card-text"><small class="text-muted">작성자: 다른댓글작성자 |
            작성일시: 2023-08-30</small></p>
      </div>
    </div>
  </div>
</div>