<h1>{{title}}</h1>
<h2 class="text-xl">{{post.title}}</h2>
<!-- 제목 -->
<div>
  작성자 :
  <b>{{post.writer}}</b>
</div>
<div>
  조회수 :
  {{post.hits}}
  | 작성일시 :
  {{post.createdDt}}
  <!-- 조회수 및 작성일 -->
  <button onclick="modifyPost()">수정</button>
  <button onclick="deletePost()">삭제</button>
</div>

<div>
  <pre>{{post.content}}</pre>
  <!-- 본문 내용 -->
</div>

<section>
  <div>
    <h3>3개의 댓글이 있습니다.</h3>
  </div>

  <form method="post" action="/write-comment">
    <div>
      <div>
        <input type="text" name="name" placeholder="이름" />
        <input type="password" name="password" placeholder="비밀번호" />
      </div>
      <div>
        <textarea
          cols="40"
          rows="3"
          name="comment"
          placeholder="댓글을 입력해주세요."
        ></textarea>
        <br /><br /><button>댓글 쓰기</button>
      </div>
    </div>
  </form>
</section>

<section>
  <div>
    <div>
      작성자 :
      <b>이지환2</b>
    </div>
    <div>
      작성일시 : 2023.08.29.
      <button onclick="deleteComment('1')">삭제</button>
    </div>
  </div>
  <div>
    <pre>댓글</pre>
  </div>
</section>
<footer>
  <div>
    <a href="/">목록으로</a>
  </div>
</footer>